<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practico python!</title>
</head>
<body>

<form method='POST' action="">{% csrf_token %}
{{ el_titulo }}<br>
{{ request.user }}
<hr>
{{ el_formulario.as_p }}

    <input type='submit' value='Guardar'></input>

</form>


</body>
</html>